[submodule "DPG"]
	path = DPG
	url = https://github.com/rzfzr/DPG
[submodule "Scamander"]
	path = Scamander
	url = https://github.com/Meta-Group/Scamander.git
[submodule "ECE"]
	path = ECE
	url = https://github.com/Meta-Group/ECE.git
